.add-ingredient {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: yellowgreen;
  color: black;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}
