<section class="background">
  <section class="content">
    <div class="title">
      <h2>Publish your awesome recipe!</h2>
      <div class="line"></div>
    </div>
    <div class="form">
      <form class="form-inside">
        <input
          class="inpit-opacity input--field"
          type="text"
          placeholder="Recipe title..."
          name="title"
          [(ngModel)]="enteredTitle"
        />
        <p>Ingredients:</p>
        <app-ingredient-list [ingredients]="products"></app-ingredient-list>
        <article class="ingredient">
          <input
            [(ngModel)]="enteredProduct"
            class="inpit-opacity input--field"
            type="text"
            placeholder="Carrots, onion, pasta..."
            name="product"
          />
          <input
            class="inpit-opacity input--field"
            type="number"
            placeholder="quantity..."
            name="quantity"
            [(ngModel)]="enteredQuantity"
          />
          <select name="ingredient-type" id="kilo" [(ngModel)]="selectedType">
            <option value="kilo(s).">Kilo(s).</option>
            <option value="ml.">ml.</option>
            <option value="piece(s).">Piece(s)</option>
            <option value="by taste.">By taste</option>
          </select>
          <button class="add-ingredient" (click)="onIngredientAdd()">+</button>
        </article>

        <p>Preparation - Add the Steps for Cooking Your Masterpiece</p>
        <textarea
          class="inpit-opacity"
          name="preparation"
          id="preparation"
          cols="10"
          rows="4"
          [(ngModel)]="enteredSteps"
        ></textarea>

        <p>Add To Categories</p>
        <article class="categories">
          <ul class="checkbox-items">
            <li class="checkbox" *ngFor="let item of checkboxesDataList">
              <input
                type="checkbox"
                [(ngModel)]="item.isChecked"
                (change)="changeSelection()"
                name="{{ item.label }}"
              />
              {{ item.label }}
            </li>
          </ul>
        </article>

        <div class="suitable">
          <p>
            Suitable for
            <span>
              <select
                name="suitable-for"
                id="suitable"
                [(ngModel)]="selectedSuitable"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </span>
            people.
          </p>
        </div>

        <button class="button-main" (click)="onRecipeCreate()">
          Publish your recipe
        </button>
      </form>
    </div>
  </section>
</section>
